@using Radzen
@using Radzen.Blazor

<div class="sidebar-header">
    <div class="app-title">VenueTracker</div>
</div>

<RadzenPanelMenu Style="width: 100%; border: none;">
    <RadzenPanelMenuItem Text="Dashboard" Icon="dashboard" Path="/" />
<RadzenPanelMenuItem Text="Add Show" Icon="add_circle" Path="/add-show" />

    <RadzenPanelMenuItem Text="Admin" Icon="settings">
        <RadzenPanelMenuItem Text="Venues" Icon="location_city" Path="/admin/venues" />
        <RadzenPanelMenuItem Text="Shows" Icon="library_music" Path="/admin/shows" />
    </RadzenPanelMenuItem>
</RadzenPanelMenu>